
<% include partials/header %>
<div class="ui main text container segment" style="border-radius: 10px; background: rgba(0, 0, 0, .8); height: 500px;">
    <div class="ui huge header" style="color: white">Edit <%=blog.title%></div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label style="color: white">Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title%>">
        </div>
        <div class="field">
            <label style="color: white">Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image%>">
        </div>
        <div class="field">
            <label style="color: white">Blog Content</label>
            <textarea name="blog[body]"><%=blog.body%></textarea>
        </div>
        <input class="ui violet big basic button" type="submit">
        
    </form>
</div>
<% include partials/footer %>