<% include partials/header %>

<div class="ui main text container indexpage">
    <div class="ui huge header" style="text-align: center;"><%=blog.title%></div>
    <div class="ui top attached segment" style="border-radius: 10px; background: rgba(0, 0, 0, .8); height: 200px;">
        <div class="ui divided items">


            <div class="item">
                <div class="image">
                    <img src="<%= blog.image %>">
                </div>
                <div class="content">
                    <div class="meta" style="color: white;">
                        <span>
                            Time : <%=blog.created.toDateString()%>
                        </span>
                    </div>
                    <div class="description" style="color: white;">
                        <p>
                            Content : <%-blog.body%>...</p>
                    </div>
                    <br>
                    <a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
                    <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                        <button class="ui red basic button">DELETE</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>>
    <% include partials/footer %>